<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
	<p>Has no ratings</p>
<% else %>
	<p>Has made <%= pluralize(@user.ratings.count, 'rating')  %>, average: <%= @user.average_rating %>, favorite style: <%= @user.favorite_style %>, favorite brewery: <%= @user.favorite_brewery.name %></p>
<p>
<% if @user.beer_clubs.empty? %>
User does not belong into any group.
<% else %>
	Member of 
	<% @user.beer_clubs.each do |club| %>
		 <%= link_to club.name, club %> 
	<% end %>
<% end %>
</p>

	<h2>ratings</h2>
	<ul>
	<% @user.ratings.each do |rating| %>
		<li> <%= rating %> 
		<% if @user == current_user %>
			<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %> 
		<% end %>
		</li>
	<%end%>
	</ul>
<% end %>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>