<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
	<p>Has no ratings</p>
<% else %>
	<p>Has made <%= pluralize(@user.ratings.count, 'rating')  %>, average: <%= @user.average_rating %></p>
<p>
Member of 
<% @user.beer_clubs.each do |club| %>
	 <%= link_to club.name, club %> 
<%end%>
</p>

	<h2>ratings</h2>
	<ul>
	<% @user.ratings.each do |rating| %>
		<li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %> </li>
	<%end%>
	</ul>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %>
