<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
	<p>Has no ratings</p>
<% else %>
	<p>Has made <%= pluralize(@user.ratings.count, 'rating')  %>, average: <%= round(@user.average_rating) %>, favorite style: <%= @user.favorite_style.name %>, favorite brewery: <%= @user.favorite_brewery.name %></p>
<p>
<% if @user.beer_clubs.empty? %>
User does not belong into any group.
<% else %>
	<h3>Member of </h3>
	<ul>
		<% @user.beer_clubs.each do |club| %>
			 <li> <%= link_to club.name, club %> </li>
		<% end %>
	</ul>
<% end %>
<% unless @user.membership_applications.empty? %>
	<h3> Pending membership applications </h3>
	<ul>
		<% @user.membership_applications.each do |application| %>
			 <li> <%= link_to application.beer_club.name, application.beer_club %> </li>
		<% end %>
	</ul>
<% end %>
</p>

	<h2>ratings</h2>
	<ul>
	<% @user.ratings.each do |rating| %>
		<li> <%= rating %> 
		<% if @user == current_user %>
			<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %> 
		<% end %>
		</li>
	<%end%>
	</ul>
<% end %>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>